<% layout("/layouts/boilerplate") %>

<div class="row offset-4 mt-5">
    <img src="https://thumbs.dreamstime.com/z/basic-rgb-135675321.jpg?ct=jpeg" alt="Description of the image" style="height: 300px;width: 300px;">
   
</div>
<div class="row offset-2"><p class="title "><b> <%=message%></b></p></div>